:root {
  font-family: monospace;
  line-height: 1.5;
  font-weight: 400;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: gray;
}

.app {
  width: 800px;
  height: 500px;
  display: flex;
  background: white;
  border: 2px solid black;
}

.controls {
  width: 200px;
  flex: 0 0 auto;
  border-right: 2px solid black;
}

.sweater-container {
  padding: 1rem;
  flex: 1 1 auto;
  display: flex;
}
