:root {
  font-family: monospace;
  line-height: 1.5;
  font-weight: 400;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: gray;
}

.app {
  width: 800px;
  height: 500px;
  display: flex;
  background: white;
  border: 2px solid black;
  background: #736448ff;
}

.controls {
  background: white;
  width: 200px;
  flex: 0 0 auto;
  border-right: 2px solid black;
  display: flex;
  flex-direction: column;
}

.buttons {
  display: flex;
  gap: 0.2rem;
  padding: 0.2rem;
  border-top: 2px solid black;
}

.buttons button {
  flex: 1 1 auto;
  border: none;
  background: none;
  color: black;
  cursor: pointer;
  text-transform: lowercase;
  background: darkgray;
  border-radius: 3px;
  color: white;
  padding: 0.25rem 0;
  font-family: monospace;
}

.buttons button:hover {
  background: gray;
}

.title {
  font-size: 1.25rem;
  padding: 0.5rem;
  border-bottom: 2px solid black;
  text-align: center;
  color: black;
}
.color-selector {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.color-selector-item {
  flex: 1 0 auto;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  color: white;
  cursor: pointer;
  border: none;
  font-family: monospace;
}

.color-selector-item:not(:last-child) {
  border-bottom: 2px solid black;
}

.color-selector-item:hover {
  border-right: 4px solid black;
}

.sweater-container {
  padding: 1rem;
  flex: 1 1 auto;
  display: flex;
}

.square {
  cursor: pointer;
}
